{% extends 'lineas/base.html' %}

{% block content %}
<div class="container">
    <h1>Reporte de empleados del área automotriz</h1>
</div>
<div class="container">
    <div class="row">
        <div class="m-2 pt-2 col border rounded">
            <h3 class="ml-2">Área automotriz</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Área</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for e in empleado %}
                        {% if e.area == 'Automotriz' %}
                            <tr>
                                <th scope="row">{{e.id}}</th>
                                <td>{{e.nombre}}</td>
                                <td>Automotriz</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>
</div>
{% endblock %}