{% extends 'lineas/base.html' %}

{% block content %}
<div class="container">
    <h1>Reporte de entradas y salidas</h1>
</div>
<div class="container border rounded">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Entrada</th>
                <th scope="col">Salida</th>
            </tr>
        </thead>
        <tbody>
            {% for e in empleado %}
                <tr>
                    <th scope="row">{{e.id}}</th>
                    <td>{{e.nombre}}</td>
                    <td>{{e.entrada}}</td>
                    <td>{{e.salida}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}