{% extends 'lineas/base.html' %}

{% block content %}
<div class="container">
    <h1>Balance piezas/producto</h1>
</div>
<div class="container border rounded">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Número de piezas</th>
            </tr>
        </thead>
        <tbody>
            {% for p in producto %}
                <tr>
                    <th scope="row">{{p.id}}</th>
                    <td>{{p.nombre}}</td>
                    <td>{{p.noPiezas}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}