{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, quos distinctio ex tempora labore cum vitae, dolorum exercitationem placeat eligendi ducimus debitis ad quasi maxime unde esse sapiente, neque numquam itaque reiciendis eos? Quia esse cumque pariatur quasi dolore autem eaque laudantium illum, velit deserunt maxime delectus dignissimos architecto repellendus sint totam reiciendis non ea voluptas harum perspiciatis! Porro fugiat aliquam, quibusdam est pariatur nobis vero iusto necessitatibus minus vel in dignissimos hic ea eligendi dolorem? Inventore assumenda iure neque officia explicabo iste deleniti suscipit maxime. Doloribus nostrum possimus corrupti atque voluptates! Modi inventore maxime necessitatibus. Harum sed amet rerum.</p>

{% endblock %}